.title {
    position: relative;
    text-align: center;
    font-size: 50px;
    font-family:'Roboto Mono', monospace;
    color:white;
    margin: 0 auto;
    text-shadow: 2px 2px 4px #000000;
}

#dynamic-background {
  background-image: none;
}

.initial-bg {
  position: fixed;
  background-color: black;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
}

.updated-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: grayscale(50%);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.color-wheel-wrap {
  position: relative;
  width: 400;
  height: 400;
  border-radius: 50%;
  margin: 0 auto;
}

#mode-visualizer {
  text-align: center;
  font-family:'Roboto Mono', monospace;
  position: relative;
  color:white;
  margin: 0 auto;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 10px;
}

#myimage {
  margin: 20px;
  border-radius: 5px;
}

.file-upload {
  position: relative;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0);
  width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 15px;
  background-color: black;
  border: 3px dashed white;
  border-radius: 5px;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: rgb(66, 66, 66);
  border: 3px dashed #ffffff;
}

.new-image-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  font-family:'Roboto Mono', monospace;
  color: white;
  padding: 60px 0;
}

.change-image {
  width: 200px;
  margin: 0;
  color: #fff;
  font-family:'Roboto Mono', monospace;
  background: rgb(66, 66, 66);
  background: rgba(66, 66, 66, 0.7);
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid rgb(55, 55, 55);
  border-bottom: 4px solid rgba(55, 55, 55, 0.7);
  transition: all .2s ease;
  outline: none;
  font-weight: 700;
}

/*.change-image:hover {
  background: rgb(55, 55, 55);
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}*/

.change-image:active {
  border: 0;
  transition: all .2s ease;
}

#quadriad-text {
  position: relative;
  text-align: center;
  font-family:'Roboto Mono', monospace;
  color: #CCCCCC;
  margin: 0 auto;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 15px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  text-align: center;
  margin-top: 10px;
  margin-left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #CCCCCC;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#quadriad-text {
  text-align: center;
  display: none;
}

#select-tonic {
    position: relative;
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    width: 140px;
    height: 34px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 17px;
    border: none;
    outline: none;
    appearance: none;
    background-color: #ccc;
}
